
// Responsive width size
$minMaxWidth: 800px;

// Min and Max Page Width Size

$minWidth: 357px;
$maxWidth: 1440px;

// Colors 

$clr-primary-100: hsl(0, 100%, 68%);

$clr-neutral-100: hsl(230, 29%, 20%);
$clr-neutral-200: hsl(230, 11%, 40%);
$clr-neutral-300: hsl(231, 7%, 65%);
$clr-neutral-400: hsl(207, 33%, 95%);

// Font Size 

$fs-100: 1.125rem;

// Font Familiy

$ff-100: "Barlow", sans-serif;

// Font Weights

$fw-100: 400;
$fw-200: 700;


